.sobre-mi-container {
  width: 340px;
 
  text-align: start;
  margin-bottom: 2em;
}

.sobre-mi-container p {
  margin-bottom: 0.7em;
}

.photo {
  margin-top: 30px;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;

}

h1 {
  font-size: 2em;
}

h1 span {
  font-size: 0.5em;
}

p {
  margin: 0;
}

.containerEmail {
  margin-top: 0.5em;
  display: flex;
}

.email {
  margin-right: 0.1em;
}