.sobre-mi-container {
  width: 380px;
 
  text-align: start;
  margin-bottom: 2em;
}

.sobre-mi-container p {
  margin-bottom: 0.7em;
}

.photo {
  margin-top: 30px;
  width: 100px;
  height: 100px;
  object-fit: cover; /* Ajusta el tamaño de la imagen */
  object-position: center 20%;
  border-radius: 50%;

}

h1 {
  font-size: 2em;
}

h1 span {
  font-size: 0.5em;
}

p {
  margin: 0;
}

 .containerT{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 @media (max-width: 380px) {
  .sobre-mi-container {
    width: 100%;
    padding: 0 ; /* Añade un poco de espacio a los lados */
  }

  .photo {
    width: 80px;
    height: 80px;
    margin-top: 20px;
  }
  
 .containerT{
  display: flex;
  align-items:start;
  justify-content: space-between;
  flex-direction: column;
 }

  h1 {
    font-size: 1.5em;
  }

  h1 span {
    font-size: 0.4em;
  }
}