.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  max-width: 440px;
  z-index: 10;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Coloca el canvas detrás de los demás elementos */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 
 
@media only screen and (max-width: 440px) {
  p {
    width: 100%;
    max-width: 340px;
  }
  img {
    width: 100%;
    height: auto;
  }
}
