.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.App div {
  scroll-margin-top: 26px;
}
.container{
  max-width: 440px;
  z-index: 10;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Coloca el canvas detrás de los demás elementos */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 .containerB{
 margin-top: 50px;
 left: 50%;
 right: 30%;
  position: absolute;
  z-index: 550;
 }

 .botton{
  padding: 8px;
  font-size: 1em;
  margin-left: 4px;
  border-radius: 3px;
  border: 1px solid #ffffff28;
  background-color: #ffffff09;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s; /* Agregamos una transición para que el cambio de color sea suave */
}

/* Agregamos el efecto hover */
.botton:hover {
  background-color: #ffffff28; /* Cambiamos el color de fondo al hacer hover */
}
 
@media only screen and (max-width: 440px) {
  p {
    width: 100%;
    max-width: 340px;
  }
  img {
    width: 100%;
    height: auto;
  }
 
  
}
